<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mykhailok_SupportChat::section" title="My Support Chat Section" translate="title" sortOrder="65">
                                <resource id="Mykhailok_SupportChat::config" title="Customer Chats" translate="title" sortOrder="100"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Customer::customer">
                    <resource id="Mykhailok_SupportChat::chat_manage" title="All Customer Chats" translate="title" sortOrder="50">
                        <resource id="Mykhailok_SupportChat::chat_actions" title="Actions" translate="title" sortOrder="10">
                            <resource id="Mykhailok_SupportChat::chat_delete" title="Delete chat" translate="title" sortOrder="10"/>
                            <resource id="Mykhailok_SupportChat::chat_reading" title="Reading messages" translate="title" sortOrder="20">
                                <resource id="Mykhailok_SupportChat::chat_chatting" title="Chatting with customer" translate="title" sortOrder="10"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
