<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="chats_listing_data_source" xsi:type="string">Mykhailok\SupportChat\Model\ResourceModel\Chat\Grid\Collection</item>
                <item name="messages_listing_data_source" xsi:type="string">Mykhailok\SupportChat\Model\ResourceModel\ChatMessage\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mykhailok\SupportChat\Model\ResourceModel\ChatMessage\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">my_chat_message</argument>
            <argument name="resourceModel" xsi:type="string">Mykhailok\SupportChat\Model\ResourceModel\ChatMessage</argument>
        </arguments>
    </type>
    <type name="Mykhailok\SupportChat\Model\ResourceModel\Chat\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">my_chat</argument>
            <argument name="resourceModel" xsi:type="string">Mykhailok\SupportChat\Model\ResourceModel\Chat</argument>
        </arguments>
    </type>
</config>
